# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Allure
allure-results/
allure-report/

# Coverage
.coverage
htmlcov/